---
export interface Props {
  title: string
  description: string
  image: string
  type: string
}

const { title, description, image, type } = Astro.props as Props

const imageurl = new URL("/blog/"+image,Astro.site);
const url = new URL(Astro.url.pathname, Astro.site);

import Header from '../components/header.astro'
import Footer from '../components/footer.astro'

import '../styles/globals.css'
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script async src="https://sdk.arengu.com/forms.js"></script>
    <title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:url" content={url} />
    {type && type==="blog" &&(
      <meta property="og:type" content="article" />
      <meta property="og:image" content={imageurl} />
      <meta name="twitter:card" content="summary" />
    )}
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <meta name="twitter:site" content="@siner" />
    <meta name="twitter:creator" content="@siner" />
  </head>
  <body class="dark:bg-[#333333] dark:text-[#f5f5f5]">
    <Header />
    <div class="mx-4">
      <slot />
    </div>
    <Footer />
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== 'undefined' &&
          localStorage.getItem('theme')
        ) {
          return localStorage.getItem('theme')
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark'
        }
        return 'light'
      })()

      if (theme === 'light') {
        document.documentElement.classList.remove('dark')
      } else {
        document.documentElement.classList.add('dark')
      }
      window.localStorage.setItem('theme', theme)
    </script>
  </body>
</html>
